#login{   
    align-items: center;
    margin-top: 10%;
}
.layui-form{
    
    display: block;
}
.demo-login-container{
    width: 320px; margin: 21px auto 0;
}
.demo-login-other .layui-icon{
    position: relative; display: inline-block; margin: 0 2px; top: 2px; font-size: 26px;
}